*.jar
*.class
*/build/classes/*
SecureJavaEEApp-ejb/build/classes/*
SecureJavaEEApp-ejb/dist/*
SecureJavaEEApp-war/build/*
SecureJavaEEApp-war/dist/*
build/*
dist/*

build/SecureJavaEEApp-ejb.jar

.DS_Store